@import url("https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Cursive:wght@400..700&display=swap");
@import "tailwindcss";

@font-face {
  font-family: "ChronicleDisplay";
  src: url("./assets/fonts/Chronicle-Display-Roman.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GilroyRegular";
  src: url("./assets/fonts/Gilroy-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GilroyMedium";
  src: url("./assets/fonts/Gilroy-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@theme {
  --font-chronicle: "ChronicleDisplay", serif;
  --font-gilroy-regular: "GilroyRegular", sans-serif;
  --font-gilroy-medium: "GilroyMedium", sans-serif;
  --font-cursive: "Edu NSW ACT Cursive", serif;
}

@utility content-container {
  @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-10;
}

@utility noisy {
  @apply bg-transparent size-full absolute inset-0 bg-[url('./images/noise.png')] bg-cover bg-center;
}

@utility radial-gradient {
  background: radial-gradient(
    circle at bottom center,
    #4e6832 0%,
    #4e6832 50%,
    #293b1e 100%
  );
}

@utility mask-img {
  mask-image: url("./images/mask-img.png");
  -webkit-mask-image: url("./images/mask-img.png");
  mask-size: 60%;
  -webkit-mask-size: 60%;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-position: top;
  -webkit-mask-position: top;
}

@utility absolute-x-center {
  @apply absolute left-1/2 transform -translate-x-1/2;
}

@utility absolute-y-center {
  @apply absolute top-1/2 transform -translate-y-1/2;
}

body {
  font-family: "GilroyRegular", sans-serif;
}
