@import "tailwindcss";

@font-face {
  font-family: "ChronicleDisplay";
  src: url("./assets/fonts/Chronicle-Display-Roman.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GilroyRegular";
  src: url("./assets/fonts/Gilroy-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GilroyMedium";
  src: url("./assets/fonts/Gilroy-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@theme {
  --font-chronicle: "ChronicleDisplay", serif;
  --font-gilroy-regular: "GilroyRegular", sans-serif;
  --font-gilroy-medium: "GilroyMedium", sans-serif;
}

@utility content-container {
  @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-10;
}

body {
  background-color: black;
}
